.App {
  /*padding: 30px;*/
  /*display: flex;*/
  /*!*background-color: #fff1db;*!*/
  /*height: 100vh;*/
}

.todolist {
  background-color: #fdfff2;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 5px;
  height: max-content;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: #00505d;
  border-radius: 3px;
  border: 2px solid #00505d;
  color: white;
}

.is-done {
  text-decoration: line-through;
  opacity: .5;
}
.task {
  font-weight: 700;
}

.btnsBox {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
